<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h3>Send Message</h3>
        <form action="/mailer" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <br> <br>
            <input type="email" name="email" placeholder="Email" required>
            <br> <br>
            <textarea type="text" name="message" value="Message" required></textarea> 
            <br> <br>
            <button type="submit">Send</button>
        </form>
    </body>
</html>